In [2]:
import os
import cv2 as cv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
from ipynb.fs.full.pretraitement import *
from ipynb.fs.full.Extraction import *
import csv
from sklearn.model_selection import train_test_split

In [3]:
import math
def distance_euclidienne(p1,p2):
    distance = 0
    for col in range(len(p1)-1):
        distance = distance + ((p1[col]-p2[col])**2)
    return math.sqrt(distance)

In [4]:
def knn_from_scratch(x_train,x_test,k):
    Ress = np.zeros( [len(x_test),1])
    for point in range(len(x_test)):
        distances = np.zeros([len(x_train),2])
        vots = np.zeros( [k,2])
        for row in range(len(x_train)):
            distances[row,0] = distance_euclidienne(x_train[row], x_test[point])
            distances[row,1] = x_train[row][len(x_train[row])-1]
        distances = distances[distances[:, 0].argsort()]
        distances = distances[:,:k]
        liste = []
        for i in range(k):
            liste.append(distances[i])
        
        for x in range(k):
            temp = 0
            classe = liste[x][1]
            for y in range(k):
                if classe == liste[y][1]:
                    temp = temp + 1
            vots[x,0] = classe
            vots[x,1] = temp
        vots = vots[vots[:, 1].sort()]
        maxe = vots[0,len(vots)-1,0]
        Ress[point,0] = maxe 
    return Ress

In [5]:

data = pd.read_csv("data.csv")
data

,phi0,phi1,phi2,phi3,phi4,phi5,phi6,classe
0,0.000221,4.890000e-08,2.220000e-12,2.220000e-12,4.950000e-24,4.920000e-16,-4.950000e-24,0
1,0.000172,2.960000e-08,2.030000e-12,2.030000e-12,4.110000e-24,3.490000e-16,-4.110000e-24,0
2,0.000145,2.110000e-08,1.210000e-13,1.210000e-13,1.450000e-26,1.750000e-17,-1.450000e-26,0
3,0.000223,4.960000e-08,2.210000e-12,2.210000e-12,4.890000e-24,4.920000e-16,-4.890000e-24,0
4,0.000180,3.240000e-08,1.460000e-12,1.460000e-12,2.130000e-24,2.620000e-16,-2.130000e-24,0
...,...,...,...,...,...,...,...,...
53995,0.000154,2.370000e-08,2.740000e-13,2.740000e-13,7.530000e-26,4.220000e-17,-7.530000e-26,9
53996,0.000133,1.770000e-08,8.860000e-14,8.860000e-14,7.860000e-27,1.180000e-17,-7.860000e-27,9
53997,0.000150,2.240000e-08,8.300000e-14,8.300000e-14,6.890000e-27,1.240000e-17,-6.890000e-27,9
53998,0.000140,1.950000e-08,7.240000e-14,7.240000e-14,5.240000e-27,1.010000e-17,-5.240000e-27,9
53999,0.000137,1.860000e-08,5.890000e-13,5.890000e-13,3.470000e-25,8.050000e-17,-3.470000e-25,9

In [7]:
X = data.iloc[:,:].values
Y = data.iloc[:,-1].values

In [8]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2)

In [9]:
X_test = X_test[:,:-1]

In [10]:
y_pred = knn_from_scratch(X_train,X_test,3)

In [11]:
Y_test

array([7, 6, 2, ..., 6, 8, 1], dtype=int64)

In [78]:
# Taux de Classification & Taux d'erreur
som = 0
for x in range(len(y_pred)):
    if Y_test[x] - y_pred[x] == 0:
        som = som + 1
Tclass = (som / len(y_pred))*100
Terr = 100 - Tclass
print("le taux de classification :", Tclass)
print("le taux d'erreur : ", Terr)

le taux de classification : 10.0
le taux d'erreur :  90.0

In [73]:
y_pred

array([[5.],
       [7.],
       [7.],
       [4.],
       [9.],
       [2.],
       [8.],
       [5.],
       [4.],
       [1.],
       [7.],
       [5.],
       [6.],
       [3.],
       [8.],
       [6.],
       [0.],
       [9.],
       [6.],
       [6.]])